version: '3.8'
services:
  dev:
    container_name: nestjs-boilerplate-dev
    image: nestjs-boilerplate-dev:1.0.0
    build:
      context: .
      target: development
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
    command: npm run start:debug
    ports:
      - 3333:3333
      - 9229:9229
    networks:
      - nestjs-network
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped
  uat:
    container_name: nestjs-boilerplate-uat
    image: nestjs-boilerplate-uat:1.0.0
    build:
      context: .
      target: production
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
      # DATABASE_URL: ${DATABASE_URL}
    command: npm run start:uat
    ports:
      - 3333:3333
      - 9229:9229
    networks:
      - nestjs-network
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped
  prd:
    container_name: nestjs-boilerplate-prd
    image: nestjs-boilerplate-prd:1.0.0
    build:
      context: .
      target: production
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
    command: npm run start:prod
    ports:
      - 3333:3333
      - 9229:9229
    networks:
      - nestjs-network
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped

  dev-db:
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=nest
      - MYSQL_ROOT_PASSWORD=Nest123
    volumes:
      - nestjs-db-dev:/var/lib/mysql
    networks:
      - nestjs-network
  test-db:
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=nest
      - MYSQL_ROOT_PASSWORD=Nest123
    volumes:
      - nestjs-db-test:/var/lib/mysql
    networks:
      - nestjs-network

networks:
  nestjs-network:

volumes:
  nestjs-db-dev:
  nestjs-db-test:
